<h2 class = 'text-center'>Post your Dog</h2>
<%= simple_form_for dog do |f| %>
  <%= f.input :name, placeholder: 'Morty' %>
  <%= f.input :breed, placeholder: 'Corgi' %>
  <%= f.input :skills, placeholder: 'driving your car' %>
  <%= f.input :description, placeholder: 'Corgi that really cool' %>
  <%= f.input :photo, as: :file, direct_upload: true %>
  <%= f.input :price, placeholder: '100 pesos',:collection => 20..150 %>
  <div class="d-flex justify-content-between">
    <div>
      <%= f.submit class: 'btn btn-outline-success' %>
    </div>
    <div>
      <%= link_to "Cancel", mydogs_url, class: 'btn btn-outline-danger' %>
    </div>
  </div>
<% end %>
