<div class = 'container py-3'>
  <div class="cards">
      <div class="row">
        <% @dogs.each do |doggo|  %>
            <div class="col-42 col-lg-4 my-3">
              <div class="card">
                <img src= <%= doggo.image_url %>>
                  <div class="card-body">
                    <h5 class="card-title"><%= doggo.name %></h5>
                    <p class="card-text">price: $<%= doggo.price %></p>
                    <p class="card-text">location: <%= doggo.user.address %></p>
                    <%= link_to 'Check me out',dog_path(doggo), class: 'btn btn-outline-success' %>
                  </div>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</div>
