<div>
  <%= render 'shared/banner'%>
</div>
<%# <div class = "pt-4 d-flex justify-content-center">
  <%= link_to 'ADD',new_dog_path, class: 'btn btn-outline-success' %>
<%# </div> %>
<div class = "container pb-4 pt-4">
  <div class = "row no-gutters">
    <% @mydogs.each do |mydog|  %>
      <div class="pb-3">
        <div class="card-category">
          <% if mydog.photo.present? %>
            <%= cl_image_tag mydog.photo.key, height: 180, width: 200, crop: :fit %>
            <div class="card-body">
              <div class="card-title">
                <h5><%= mydog.name %></h5>
              </div>
              <div class="card-text">
                <p>Breed:<%=mydog.breed%></p>
                <p>Price:$<%=mydog.price%></p>
              </div>
            </div>
          <%else%>
            <div>
              <div class = "mydog-upload-title">
                <h5><strong>Please upload photo</strong> </h5>
              </div>
              <div class = 'mydog-text'>
                <p>
                  <%=mydog.name %>
                  Breed:<%=mydog.breed%>
                </p>
                <p>
                  Price:$<%=mydog.price%>
                </p>
              </div>
            </div>
          <%end%>
          <div class="mydog-card-link">
            <%= link_to 'Update dog',edit_dog_path(mydog), class: 'btn btn-outline-success' %>
            <%= link_to 'Remove dog',removedog_path(mydog.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{mydog.name} from your Rentals?"}, class: 'btn btn-outline-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
