<%= render 'shared/banner'%>
<div class = "p-4 d-flex justify-content-end">
    <%= link_to 'Add a new dog',new_dog_path, class: 'btn btn-outline-success' %>
</div>
<div class = 'container py-3'>
  <div class="cards">
    <% @dogs.each do |dog|  %>
      <div class="row row-cols-3 row-cols-md-2 g-4">
        <div class="col">
          <% if dog.photo.present? %>
            <div class="card-body">
              <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
              <p class="card-text">breed:<%=dog.breed%></p>
              <p class="card-text">price:<%=dog.price%></p>
            </div>
          <%else%>
            <div class="card-body">
              <h5 class="card-title">my dogs cards</h5>
              <p class="card-text">breed:<%=dog.breed%></p>
              <p class="card-text">price:<%=dog.price%></p>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
