<div class="container py-3">
  <div class = "cards">
      <div class="card">
        <div class="card-img">
          <%#= @dog.image_url , class: "card-product img" %>
        </div>
        <div class = "card-body">
          <strong class="card-title"><%#= dog.name %><%#= dog.skills %></strong>
          <p class="card-text"><%#= dog.name %></p>
          <strong>About <%= @dog.name %> </strong>
          <% if @dog.photo.present? %>
          <div class="card-text">
            <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
            <p class="card-text"> <strong> Name: </strong><%=@dog.name%></p>
            <p class="card-text"> <strong> Breed: </strong> <%=@dog.breed%></p>
            <p class="card-text"> <strong> Price: </strong><%=@dog.price%></p>
            <p class="card-text"> <strong> Description: </strong><%=@dog.description%></p>
          </div>
          <%else%>
          <div class="card-text">
            <p class="card-text"> <strong> Name: </strong><%=@dog.name%></p>
            <p class="card-text"> <strong> Breed: </strong> <%=@dog.breed%></p>
            <p class="card-text"> <strong> Price: </strong><%=@dog.price%></p>
            <p class="card-text"> <strong> Description: </strong><%=@dog.description%></p>
          </div>
          <%end%>
          <%= link_to 'Add a booking',new_dog_booking_path(@dog), class: 'btn btn-outline-success' %>
          <%= link_to 'Back',dogs_path, class: 'btn btn-outline-danger' %>
          <%#= link_to 'Update dog',edit_dog_path(@dog), class: 'btn btn-outline-danger' %>
        </div>
      </div>
  </div>
</div>
