<%= render 'shared/banner'%>
<div class="container">
  <div class = "p-4 d-flex justify-content-end">
    <%= link_to "Click here to add another booking", dogs_path, class: 'btn btn-outline-success btn-sm' %>
  </div>
  <p>These are all your active listings:</p>
  <div class = "container">
    <div class = "cards">
      <% @bookings.each do |booking| %>
        <div class="card-category">
          <div class="row">
            <div class = "card-body">
              <div class = "card-text">
                <%= booking.startdate %>
              </div>
              <div class = "card-text">
                <%= booking.enddate %>
              </div>
              <div class = "card-text p-2">
                <%= link_to "See more", mybooking_path(booking), class: 'btn btn-outline-success' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
