<div class = "container pb-4 pt-4 ">
  <% @bookings.each do |booking| %>
    <span>
      <div class = 'd-flex justify-content-between'>
        <div>
          <p>
            <% @dog = Dog.find(booking.dog_id) %>
            <%= cl_image_tag @dog.photo.key, height: 180, width: 200, crop: :fit %>
          </p>
        </div>
        <div>
          <p><%= booking.startdate %> -> <%= booking.enddate %>
          </p>
          <%= @dog.name %>
        </div>
      </div>
    </span>
    <div class="card-link" style="display: flex;flex-direction: column;">
      <%= link_to "See more", mybooking_path(booking), class: 'btn btn-flat' %>
    </div>
    <hr class="dropdown-divider">
  <% end %>
</div>
