<%= render 'shared/banner'%>
<div class="container">
  <div class = "p-4 d-flex justify-content-end">
    <%= link_to "Click here to add another booking", dogs_path, class: 'btn btn-outline-success btn-sm' %>
  </div>
  <p>These are all your active listings:</p>
  <%= link_to "Click here to add another booking", dogs_path, class: 'btn btn-outline-success' %>
    <div class="cards">
      <div class="row row-cols-3 row-cols-md-2 g-4">
        <div class="col">
            <% @bookings.each do |booking| %>
              <div class="card">
                <%= booking.startdate %>
                <%= booking.enddate %>
                <%= link_to "Edit", mybooking_path(booking), class: 'btn btn-outline-success' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
