<div class="container p-4">
  <h1 class = "text-center">Your Current Booking</h1>
  <div class="card-trip p-4">
    <%= @dog.photo.key%>
    <div class="card-trip-infos">
      <div>
        <h2> Your booking: <%= @booking.startdate%> - <%= @booking.enddate %></h2>
        <p><%= @dog.name%></p>
        <p><%= @dog.breed%></p>
        <p><%= @dog.description%></p>
      </div>
      <h2 class="card-trip-pricing">$<%= @dog.price%></h2>
    </div>
    <%= link_to "See all bookings", mybookings_path, class: 'btn btn-outline-success' %>
  </div>
</div>
