<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand">WHOOF</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home",root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Rent Out Your Dog",new_dog, class: "dropdown-item" %>
              <%= link_to "Rent a dog", new_dog_booking_path(:dog_id), class: "dropdown-item" %>
              <%= link_to "Help", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
                class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Home",root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Login",new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Help", '#', class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%end %>
        <form class = 'd-flex'>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </div>
</div>
