<div class="d-flex justify-content-between">
  <div class= 'container'>
    <h1 style="position:relative;top: 170px;">Welcome to WHOOF your one-stop shop for cuddly vibes
      <div class = 'mt-4'>
        <%= link_to "See All",dogs_url, class: "btn btn-outline-success w-100"%>
      </div>
    </h1>
  </div>
  <div class = 'container'>
    <%= image_tag("https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445",width:'100%',height: '450px',position:'sticky') %>
  </div>
</div>

<div class = "container pb-4">
  <h2 class = 'text-center'>
    The most popular dogs this week
  </h2>
  <div class="row no-gutters">
    <% @dogs.each do |dog|  %>
      <div class="col-md-4 pb-3">
        <%= link_to dog_path(dog) do %>
          <div class="card-category">
            <% if dog.photo.present? %>
              <div class = "img-fluid rounded-start">
                <%= cl_image_tag dog.photo.key, height: 150, width: 150, crop: :fill %>
              </div>
              <div class = 'text-muted'>
                <p class="card-text text-right"><strong><%= dog.name %></strong></p>
                <p class="card-text text-right">Price: $<%= dog.price %></p>
                <p class="card-text text-right">Breed:<%= dog.breed %></p>
              </div>
            <%else%>
              <div class="card-body">
                <p class="card-text text-right"><strong><%= dog.name %></strong></p>
                <p class="card-text text-right">Price: $<%= dog.price %></p>
                <p class="card-text text-right">Breed:<%= dog.breed %></p>
              </div>
            <%end%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div >
<div class="container">
  <h2>
    trial card carousel group
  </h2>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card-group">
          <div class="row no-gutters">
            <% @dog_group1.each do |dog1|  %>
              <div class="col-md-4 pb-3">
                <%= link_to dog_path(dog1) do %>
                  <div class="card-category">
                    <% if dog1.photo.present? %>
                      <div class = "img-fluid rounded-start">
                        <%= cl_image_tag dog1.photo.key, height: 150, width: 150, crop: :fill %>
                      </div>
                      <div class = 'text-muted'>
                        <p class="card-text text-right"><strong><%= dog1.name %></strong></p>
                        <p class="card-text text-right">Price: $<%= dog1.price %></p>
                        <p class="card-text text-right">Breed:<%= dog1.breed %></p>
                      </div>
                    <%else%>
                      <div class="card-body">
                        <p class="card-text text-right"><strong><%= dog1.name %></strong></p>
                        <p class="card-text text-right">Price: $<%= dog1.price %></p>
                        <p class="card-text text-right">Breed:<%= dog1.breed %></p>
                      </div>
                    <%end%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
          <div class="row no-gutters">
            <% @dog_group2.each do |dog2|  %>
              <div class="col-md-4 pb-3">
                <%= link_to dog_path(dog2) do %>
                  <div class="card-category">
                    <% if dog2.photo.present? %>
                      <div class = "img-fluid rounded-start">
                        <%= cl_image_tag dog2.photo.key, height: 150, width: 150, crop: :fill %>
                      </div>
                      <div class = 'text-muted'>
                        <p class="card-text text-right"><strong><%= dog2.name %></strong></p>
                        <p class="card-text text-right">Price: $<%= dog2.price %></p>
                        <p class="card-text text-right">Breed:<%= dog2.breed %></p>
                      </div>
                    <%else%>
                      <div class="card-body">
                        <p class="card-text text-right"><strong><%= dog2.name %></strong></p>
                        <p class="card-text text-right">Price: $<%= dog2.price %></p>
                        <p class="card-text text-right">Breed:<%= dog2.breed %></p>
                      </div>
                    <%end%>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
