<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445);">
  <div class="col-lg-12 text-center">
    <h1 class="d-flex justify-content-center">Welcome to WHOOF your one-stop shop for cuddly vibes</h1>
    <%= link_to "See All",dogs_url, class: "btn btn-success"%>
  </div>
</div>
<div class = 'container py-5'>
  <h2> This Week's Top Dogs </h2>
  <div class="cards">
      <div class="row">
    <% @numbo = 1 %>
    <% @dogs.each do |dog|  %>
      <div class="col-2 col-lg-4">
        <div class="card">
          <img src= <%= dog.image_url %>>
          <div class="card-body">
            <p class="card-text"><strong><%= @numbo %></p>
            <p class="card-text"><strong>Name:</strong><%= dog.name %></p>
            <p class="card-text"><strong>Price:</strong><%= dog.price %></p>
            <p class="card-text"><strong>Breed:</strong><%= dog.breed %></p>
            <% @numbo += 1 %>
            <%if user_signed_in? %>
              <%#= link_to 'ADD',new_dog_booking_path, class: 'btn btn-outline-success' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%# <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">Add your dog</div>
  <div class="card-body text-success">
    <p class="card-body">List your own dog so that others can see it.</p>
  </div>
  <%= link_to 'ADD',new_user_session_path, class: 'btn btn-success mb-3' %>
<%# </div>
</div> %>
      </div>
  </div>
</div>
